# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.pyc

# Environment variables
.env

# macOS
.DS_Store

# Database files
*.db

# Node modules
node_modules/

# Next.js build output
.next/

# Python virtual environments
venv/

# IDE
.vscode/

# Rust build
target/
