@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #1a1a1a;
  color: #f0e6d2;
  font-family: 'EB Garamond', serif;
}
